body {
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
    line-height: 18px;
    font-size: 12px;
    color: #222;
}
h1, h2, h3, h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: normal;
}
h1 {
    font-size: 500%;
}
h2 {
    font-size: 210%;
}
h3 {
    font-size: 120%;
    font-weight: bold;
}
p {
    margin: 0 0 6px 0;
}
code {
    width: 100%;
    color: #222;
    background-color: #fff;
    font-family: "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    border-radius: 2px;
    font-size: 11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 3px 5px;
    margin: 0 3px;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
/* ________________________________________________________ */
.clear {
    clear: both;
}
#main {
    background: #fff;
    width: 900px;
    padding: 35px;
    margin: 0 auto 15px auto;
    overflow: hidden;
    box-shadow: 0 0 6px #ccc;
}
#title {
    margin: 0px 0 20px 0;
    line-height: 70px;
    text-align: center;
    color: #111;
}
#credit {
    margin-bottom: 20px;
    font-size: 11px;
    color: #999;
    text-align: center;
}
#credit a {
    color: #999;
}
p label {
    float: left;
    width: 80px;
    margin-right: 10px;
}
p label span.colon {
    float: right;
}
p span.value {
    float: left;
    width: 70%;
    display: block;
}
.section {
    margin-bottom: 30px;
    padding-bttom: 20px;
}

.item {
    margin: 0 0 15px 0;
}
.basic-info {
    padding: 0px 0 0px 140px;

}
.basic-info p {
    float: left;
    width: 48%;
    margin: 0 0 0px 0;
}
.basic-info p.full {
    width: 100%;
    float: none;
}
.basic-info .r {
    float: right;
}
/* education _____________________________ */
.section .title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.section span {
    display: block;
}
.section h3 span.l {
    margin-right: 10px;
    float: left;
}
.section span.r {
    float: right;
    text-align: right;
}
.section-work .job_title {
    display: block;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
    color: #666;
}
.section .date {
    font-weight: normal;
    font-size: 12px;
    font-family: "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
.section .info {
    margin: 5px 0 0 0;
}
.section-timeline h3 {
    font-size: 120%;
    margin: 5px 0 5px 0;
    font-weight: normal;
}
.section-timeline .item {
    margin-bottom:6px;
}
.section-timeline .set {
    text-align: center;
}
/* ___ photo ___ */
#photo {
    width: 160px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-top: 12px;
    border-radius: 4px;
}
#photo img {
    width: 100%;
    height: auto;
}
.header.photo {
    margin-left: 190px;
}
.header.photo #title {
    text-align: left;
}
.header.photo .basic-info {
    float: none;
    padding: 0;
}
@media screen and (max-width: 800px) {
    body {
        background: #fff;
    }
    #main {
        box-shadow: none;
        padding: 0;
        padding: 5px;
    }
}
@media print{
    body {
        background: #fff;
        line-height: 18px;
        font-size: 13px;
    }
    #main {
        width: 750px;
        padding: 0px 30px;
        margin: 0;
        box-shadow: 0 0 0px #fff;
    }
    h1, h2, h3, h4 {
        margin: 0 0 10px 0;
    }
    h1 {
        font-size: 350%;
    }
    h2 {
        font-size: 160%;
    }
    h3 {
        font-size: 100%;
        font-weight: bold;
    }
    code {
        font-size: 11px;
    }
    .section-timeline h3 {
        font-size: 110%;
    }
    .basic-info {
        padding: 0px 0 0px 80px;
    }
    p span.value {
        width: 60%;
    }
    code {
        border: 1px solid #999;
    }
    .section .title {
        border-bottom: 1px solid #333;
    }
}